In [1]:
import numpy as np
import pandas as pd
import datetime
import sklearn
songs = pd.read_csv("spotify-2023.csv", encoding =('ISO-8859-1'),low_memory = False)
songs.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [2]:
#track_name
#artist(s)_name
#released_year
#released_month
#released_day
#streams
songs = songs[['track_name','artist(s)_name','released_year','released_month','released_day','streams','in_spotify_playlists']]

In [3]:
new_songs = songs[['track_name','artist(s)_name','in_spotify_playlists']]

In [4]:
new_songs.head()

                            track_name    artist(s)_name  in_spotify_playlists
0  Seven (feat. Latto) (Explicit Ver.)  Latto, Jung Kook                   553
1                                 LALA       Myke Towers                  1474
2                              vampire    Olivia Rodrigo                  1397
3                         Cruel Summer      Taylor Swift                  7858
4                       WHERE SHE GOES         Bad Bunny                  3133

In [5]:
new_songs['tags'] = songs['track_name']+songs['artist(s)_name']

C:\Users\aman singh\AppData\Local\Temp\ipykernel_16608\1239726660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_songs['tags'] = songs['track_name']+songs['artist(s)_name']

In [6]:
new_songs.head()

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"Seven (feat. Latto) (Explicit Ver.)Latto, Jung..."
1,LALA,Myke Towers,1474,LALAMyke Towers
2,vampire,Olivia Rodrigo,1397,vampireOlivia Rodrigo
3,Cruel Summer,Taylor Swift,7858,Cruel SummerTaylor Swift
4,WHERE SHE GOES,Bad Bunny,3133,WHERE SHE GOESBad Bunny

In [7]:
new_songs['tags'] = new_songs['tags'].apply(lambda x:"".join(x))

C:\Users\aman singh\AppData\Local\Temp\ipykernel_16608\649753929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_songs['tags'] = new_songs['tags'].apply(lambda x:"".join(x))

In [8]:
new_songs.head()

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"Seven (feat. Latto) (Explicit Ver.)Latto, Jung..."
1,LALA,Myke Towers,1474,LALAMyke Towers
2,vampire,Olivia Rodrigo,1397,vampireOlivia Rodrigo
3,Cruel Summer,Taylor Swift,7858,Cruel SummerTaylor Swift
4,WHERE SHE GOES,Bad Bunny,3133,WHERE SHE GOESBad Bunny

In [9]:
new_songs['tags'][0]

'Seven (feat. Latto) (Explicit Ver.)Latto, Jung Kook'

In [10]:
new_songs['tags'] = new_songs['tags'].apply(lambda x:x.lower())

C:\Users\aman singh\AppData\Local\Temp\ipykernel_16608\3504787395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_songs['tags'] = new_songs['tags'].apply(lambda x:x.lower())

In [11]:
new_songs

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"seven (feat. latto) (explicit ver.)latto, jung..."
1,LALA,Myke Towers,1474,lalamyke towers
2,vampire,Olivia Rodrigo,1397,vampireolivia rodrigo
3,Cruel Summer,Taylor Swift,7858,cruel summertaylor swift
4,WHERE SHE GOES,Bad Bunny,3133,where she goesbad bunny
...,...,...,...,...
948,My Mind & Me,Selena Gomez,953,my mind & meselena gomez
949,Bigger Than The Whole Sky,Taylor Swift,1180,bigger than the whole skytaylor swift
950,A Veces (feat. Feid),"Feid, Paulo Londra",573,"a veces (feat. feid)feid, paulo londra"
951,En La De Ella,"Feid, Sech, Jhayco",1320,"en la de ellafeid, sech, jhayco"
952,Alone,Burna Boy,782,aloneburna boy

In [12]:
new_songs['tags] = new_songs['tags'].replace(" ","")

SyntaxError: unterminated string literal (detected at line 1) (2435332373.py, line 1)

In [13]:
neew_songs = new_songs[['track_name','artist(s)_name']]

In [14]:
new_songs.head()

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"seven (feat. latto) (explicit ver.)latto, jung..."
1,LALA,Myke Towers,1474,lalamyke towers
2,vampire,Olivia Rodrigo,1397,vampireolivia rodrigo
3,Cruel Summer,Taylor Swift,7858,cruel summertaylor swift
4,WHERE SHE GOES,Bad Bunny,3133,where she goesbad bunny

In [15]:
new_songs['tags'] = new_songs['track_name']+new_songs['artist(s)_name']

C:\Users\aman singh\AppData\Local\Temp\ipykernel_16608\407615650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_songs['tags'] = new_songs['track_name']+new_songs['artist(s)_name']

In [16]:
new_songs

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"Seven (feat. Latto) (Explicit Ver.)Latto, Jung..."
1,LALA,Myke Towers,1474,LALAMyke Towers
2,vampire,Olivia Rodrigo,1397,vampireOlivia Rodrigo
3,Cruel Summer,Taylor Swift,7858,Cruel SummerTaylor Swift
4,WHERE SHE GOES,Bad Bunny,3133,WHERE SHE GOESBad Bunny
...,...,...,...,...
948,My Mind & Me,Selena Gomez,953,My Mind & MeSelena Gomez
949,Bigger Than The Whole Sky,Taylor Swift,1180,Bigger Than The Whole SkyTaylor Swift
950,A Veces (feat. Feid),"Feid, Paulo Londra",573,"A Veces (feat. Feid)Feid, Paulo Londra"
951,En La De Ella,"Feid, Sech, Jhayco",1320,"En La De EllaFeid, Sech, Jhayco"
952,Alone,Burna Boy,782,AloneBurna Boy

In [17]:
'tags'.lower()

'tags'

In [18]:
new_songs.apply(lambda x: x.astype('tags').['tags'].lower())

SyntaxError: invalid syntax (1881245800.py, line 1)

In [19]:
new_songs.head()

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"Seven (feat. Latto) (Explicit Ver.)Latto, Jung..."
1,LALA,Myke Towers,1474,LALAMyke Towers
2,vampire,Olivia Rodrigo,1397,vampireOlivia Rodrigo
3,Cruel Summer,Taylor Swift,7858,Cruel SummerTaylor Swift
4,WHERE SHE GOES,Bad Bunny,3133,WHERE SHE GOESBad Bunny

In [20]:
new_songs['tags'][0]

'Seven (feat. Latto) (Explicit Ver.)Latto, Jung Kook'

In [21]:
new_songs

,track_name,artist(s)_name,in_spotify_playlists,tags
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",553,"Seven (feat. Latto) (Explicit Ver.)Latto, Jung..."
1,LALA,Myke Towers,1474,LALAMyke Towers
2,vampire,Olivia Rodrigo,1397,vampireOlivia Rodrigo
3,Cruel Summer,Taylor Swift,7858,Cruel SummerTaylor Swift
4,WHERE SHE GOES,Bad Bunny,3133,WHERE SHE GOESBad Bunny
...,...,...,...,...
948,My Mind & Me,Selena Gomez,953,My Mind & MeSelena Gomez
949,Bigger Than The Whole Sky,Taylor Swift,1180,Bigger Than The Whole SkyTaylor Swift
950,A Veces (feat. Feid),"Feid, Paulo Londra",573,"A Veces (feat. Feid)Feid, Paulo Londra"
951,En La De Ella,"Feid, Sech, Jhayco",1320,"En La De EllaFeid, Sech, Jhayco"
952,Alone,Burna Boy,782,AloneBurna Boy

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=953,stop_words='english')

In [23]:
vectors = cv.fit_transform(new_songs['tags']).toarray()

In [24]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [26]:
len(cv.get_feature_names_out())

953

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
similarity = cosine_similarity(vectors)

In [29]:
similarity

array([[1.        , 0.        , 0.        , ..., 0.12598816, 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.12598816, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [30]:
def recommend(songs):
    songs_index = new_songs[new_songs['track_name'] == songs].index[0]
    distances = similarity[songs_index]
    songs_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in songs_list:
        print(new_songs.iloc[i[0]].track_name)

In [31]:
recommend('Blinding Lights')

Reminder
The Hills
After Hours
Sacrifice
Is There Someone Else?

In [32]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(62, 0.4303314829119351),
 (650, 0.2519763153394848),
 (94, 0.2357022603955158),
 (16, 0.19245008972987526),
 (396, 0.19245008972987526)]

In [33]:
import pickle

In [34]:
pickle.dump(new_songs,open('songs.pkl','wb'))

In [35]:
import pickle 
print(pickle.format_version)

4.0

In [36]:
pickle.dump(new_songs.to_dict(),open('songs_dict.pkl','wb'))

In [37]:
pickle.dump(similarity,open('similarity.pkl','wb'))