In [1]:
import numpy as np
import pandas as pd
import datetime
import sklearn
songs = pd.read_csv("spotify-2023.csv", encoding =('ISO-8859-1'),low_memory = False)
songs.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [2]:
#track_name
#artist(s)_name
#released_year
#released_month
#released_day
#streams
songs = songs[['track_name','artist(s)_name','released_year','released_month','released_day','streams']]

In [3]:
songs.head()

,track_name,artist(s)_name,released_year,released_month,released_day,streams
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2023,7,14,141381703
1,LALA,Myke Towers,2023,3,23,133716286
2,vampire,Olivia Rodrigo,2023,6,30,140003974
3,Cruel Summer,Taylor Swift,2019,8,23,800840817
4,WHERE SHE GOES,Bad Bunny,2023,5,18,303236322

In [4]:
songs = songs[['track_name','artist(s)_name']]

In [5]:
songs.head()

                            track_name    artist(s)_name
0  Seven (feat. Latto) (Explicit Ver.)  Latto, Jung Kook
1                                 LALA       Myke Towers
2                              vampire    Olivia Rodrigo
3                         Cruel Summer      Taylor Swift
4                       WHERE SHE GOES         Bad Bunny

In [6]:
songs.duplicated().sum()

4

In [7]:
songs.isnull().sum()

track_name        0
artist(s)_name    0
dtype: int64

In [8]:
songs

                              track_name      artist(s)_name
0    Seven (feat. Latto) (Explicit Ver.)    Latto, Jung Kook
1                                   LALA         Myke Towers
2                                vampire      Olivia Rodrigo
3                           Cruel Summer        Taylor Swift
4                         WHERE SHE GOES           Bad Bunny
..                                   ...                 ...
948                         My Mind & Me        Selena Gomez
949            Bigger Than The Whole Sky        Taylor Swift
950                 A Veces (feat. Feid)  Feid, Paulo Londra
951                        En La De Ella  Feid, Sech, Jhayco
952                                Alone           Burna Boy

[953 rows x 2 columns]

In [11]:
songs['artist(s)_name'] = songs['artist(s)_name'].apply(lambda x: x.lower())

In [12]:
songs.head()

                            track_name    artist(s)_name
0  Seven (feat. Latto) (Explicit Ver.)  latto, jung kook
1                                 LALA       myke towers
2                              vampire    olivia rodrigo
3                         Cruel Summer      taylor swift
4                       WHERE SHE GOES         bad bunny